<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DocumentsPerXml" value="50000"/>

    <add key="PathForImportExternalCoupon" value="L:\ImportExternalCoupon\net6.0\File\ImportExternalCouponFile"/>

    <add key ="PathForImportExternalCouponXMLFile" value="C:\HQL\Exe\BatchManager"/>

    <add key="PathForImportExternalCouponFileArchive" value="L:\ImportExternalCoupon\net6.0\File\ImportExternalCouponFileArchive" />

    <add key ="LogFolderPath" value="L:\ImportExternalCoupon\net6.0\log"/>

    <add key ="REMALocation" value ="R:\\NCR\\HQ\\LPBatchManagerSvc"/>

    <add key ="REMAbatchLocation" value ="R:\\NCR\\HQ\\LPBatchManagerSvc\\ImportLoyaltyDocumentsRepository.bat"/>

	<add key ="ValidateCouponQuery" value = "SELECT COUNT(*) FROM Loyalty_C4TW_UAT.dbo.CouponInstance_PR WHERE BusinessId = @CouponId"/>

    <add key ="SqlServerInstance" value="GCP_T_OPDB_AL"/>
  </appSettings>
  <connectionStrings>
  <add name="ImportCoupon" connectionString="Data Source=GCP_T_OPDB_AL;Initial Catalog=Promotion_C4TW_UAT;Integrated Security=True"/>
  </connectionStrings>
</configuration>